*/__pycache__
__pycache__
*/.DS_Store
.DS_Store
/venv/
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/Parkthon.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.vscode/launch.json
test/DB/parkthon.db
test/.ConfigFile.properties
